
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13.5px;
    width: 320px;
    padding: 0px 0px 7px 5px;
    border: 1px solid rgb(90, 105, 143);
    margin: 10px auto;
    box-shadow: 10px 10px 8px 0px rgba(207,207,207,1);
 }

.dog-img {
    height: 300px;
    width: 300px;
    padding: 5px 5px 10px 5px;
   }

#card-text {
    border: 1px solid rgb(90, 105, 143);
    margin: 5px 13px 5px 5px;
    padding: 0px 7px 0px 7px;
}

#card-text a {
    text-decoration: none;
}

#card-text a:hover {
    color: #0000cd;
}

.intro {
    font-style: italic;
}

span {
    font-weight: bold;
   }
   
ul {
    list-style-type: none;
    padding: 0;
  }
